.icon {
    background-image: radial-gradient(farthest-corner at 1px 250px,
    yellow 8%, orange, red, purple, blue 98%);
    height: 250px;
    width: 250px;
    border-radius: 50px;
}

.cube {
    position: relative;
    border: 15px solid white;
    border-radius: 50px;
    width: 170px;
    height: 170px;
    top: 11%;
    left: 9%;
}

.circle {
    position: relative;
    border-radius: 8000px;
    width: 75px;
    height: 75px;
    border: 15px solid white;
    top: 22%;
    left: 19%;
}

.lilcircle {
    position: relative;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 8000px;
    left: 80%;
    top: -50%;
}
